
version: 2.1
orbs:
  #install some dependecies aws-cli, elasticbeanstalk and node
  aws-cli: circleci/aws-cli@1.3.1
  eb: circleci/aws-elastic-beanstalk@2.0.1
  node: circleci/node@5.0.0
jobs:
  # a job that runs the building step before deploying changes to the app
  build:
    docker:
      - image: "cimg/node:14.15.5"
    steps:
      - checkout
      - run:
          name: Frontend Install
          command: |
            npm run Frontend:Install
      - run:
          name: Backend Install
          command: |
            npm run Backend:Install
      - run:
          name: Frontend Build
          command: |
            npm run Frontend:Build
      - run:
          name: Backend Build
          command: |
            npm run Backend:Build
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - "./*"

  deploy:
    docker:
      - image: "cimg/node:14.15.5"
    steps:
      - attach_workspace:
          at: /home/circleci/project
      - checkout
      - aws-cli/setup
      - eb/setup
      - run:
          name: Deploy Backend API
          command: |
            npm run Backend:Deploy
      - run:
          name: Deploy Frontend App
          command: |
            npm run Frontend:Deploy

workflows:
  version: 2
  build_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main
